.about-container::after, header::after {
  content: "";
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

body {
  -webkit-font-smoothing: antialiased; }

.icon-section {
  width: 85vw;
  display: block;
  margin: auto; }
  .icon-section .icon-container {
    display: flex;
    flex-wrap: wrap; }
    .icon-section .icon-container .icon-column {
      height: 250px;
      flex-grow: 1;
      flex-basis: 33.33%;
      justify-content: center;
      text-align: center;
      padding: 20px; }
      @media (max-width: 560px) {
        .icon-section .icon-container .icon-column {
          flex-wrap: wrap;
          flex-basis: 100%; } }
      .icon-section .icon-container .icon-column p {
        font-family: 'Merriweather Sans', sans-serif;
        color: #4CBF8B;
        font-weight: bolder;
        font-size: 1.3em; }
      .icon-section .icon-container .icon-column img {
        width: 125px;
        height: auto;
        margin-top: 4%;
        padding: 10px; }

.mission-container {
  margin-top: 20px;
  margin-bottom: 40px; }
  .mission-container .mission-section {
    display: block;
    margin: auto;
    width: 95vw;
    padding: 35px; }
    .mission-container .mission-section h5 {
      text-align: center;
      margin-bottom: 1.4em;
      font-family: 'Yeseva One', cursive;
      font-size: 2em; }
    .mission-container .mission-section h6 {
      font-size: 24px;
      color: #4CBF8B;
      font-family: 'Merriweather Sans', sans-serif; }
    .mission-container .mission-section p {
      font-family: 'Merriweather Sans', sans-serif;
      margin-top: 25px; }
    .mission-container .mission-section .mission-columns {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: center;
      justify-content: space-around; }
    .mission-container .mission-section .mission-box {
      width: 40%;
      height: 40%;
      border: 1px solid #4CBF8B;
      text-align: center;
      border-radius: 2px;
      padding: 25px;
      position: relative;
      overflow: hidden;
      transition: .3s; }
      .mission-container .mission-section .mission-box:after {
        position: absolute;
        transition: .3s;
        content: '';
        width: 0;
        left: 50%;
        bottom: 0;
        height: 3px;
        background: #f7f7f7; }
      .mission-container .mission-section .mission-box:hover {
        border-radius: 30px; }
        .mission-container .mission-section .mission-box:hover:after {
          width: 0%;
          left: 0; }
      @media (max-width: 760px) {
        .mission-container .mission-section .mission-box {
          flex-wrap: wrap;
          flex-basis: 100%;
          margin-top: 20px; } }

.strain-gallery {
  display: flex;
  flex-wrap: wrap; }
  .strain-gallery .strain {
    flex-grow: 1;
    height: 250px;
    position: relative;
    overflow: hidden;
    border: 2px solid white; }
    .strain-gallery .strain .strain-info {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 500px;
      text-align: center;
      font-size: 16px;
      font-family: 'Merriweather Sans', sans-serif;
      color: white;
      -ms-transition: -ms-transform 0.5s;
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s; }
      .strain-gallery .strain .strain-info:hover {
        -ms-transform: translateY(-250px);
        -webkit-transform: translateY(-250px);
        transform: translateY(-250px);
        cursor: pointer; }
    .strain-gallery .strain .details-container {
      background-color: rgba(76, 191, 139, 0.7);
      height: 250px;
      width: 100%; }
    .strain-gallery .strain .details-title {
      font-size: 20px;
      margin-top: 250px; }
  .strain-gallery .strain:nth-of-type(1) {
    flex-basis: 50%;
    background-image: url("../img/blue_dream.jpg");
    background-position: center;
    background-size: cover; }
    @media (max-width: 760px) {
      .strain-gallery .strain:nth-of-type(1) {
        flex-basis: 100%; } }
  .strain-gallery .strain:nth-of-type(2) {
    flex-basis: 25%;
    background-image: url("../img/cinex.jpg");
    background-position: center;
    background-size: cover; }
    @media (max-width: 760px) {
      .strain-gallery .strain:nth-of-type(2) {
        flex-basis: 50%; } }
    @media (max-width: 520px) {
      .strain-gallery .strain:nth-of-type(2) {
        flex-basis: 100%; } }
  .strain-gallery .strain:nth-of-type(3) {
    flex-basis: 25%;
    background-image: url("../img/harley_tsu.jpg");
    background-position: center;
    background-size: cover; }
    @media (max-width: 760px) {
      .strain-gallery .strain:nth-of-type(3) {
        flex-basis: 50%; } }
    @media (max-width: 520px) {
      .strain-gallery .strain:nth-of-type(3) {
        flex-basis: 100%; } }
  .strain-gallery .strain:nth-of-type(4) {
    flex-basis: 25%;
    background-image: url("../img/nuken.jpg");
    background-position: center;
    background-size: cover; }
    @media (max-width: 760px) {
      .strain-gallery .strain:nth-of-type(4) {
        flex-basis: 100%; } }
  .strain-gallery .strain:nth-of-type(5) {
    flex-basis: 25%;
    background-image: url("../img/peaches.jpg");
    background-position: center;
    background-size: cover; }
    @media (max-width: 760px) {
      .strain-gallery .strain:nth-of-type(5) {
        flex-basis: 50%; } }
    @media (max-width: 520px) {
      .strain-gallery .strain:nth-of-type(5) {
        flex-basis: 100%; } }
  .strain-gallery .strain:nth-of-type(6) {
    flex-basis: 50%;
    background-image: url("../img/tangie.jpg");
    background-position: center;
    background-size: cover; }
    @media (max-width: 760px) {
      .strain-gallery .strain:nth-of-type(6) {
        flex-basis: 50%; } }
    @media (max-width: 520px) {
      .strain-gallery .strain:nth-of-type(6) {
        flex-basis: 100%; } }

.about-container {
  background: -webkit-linear-gradient(135deg, #155A97, #4CBF8B);
  background: -o-linear-gradient(135deg, #155A97, #4CBF8B);
  background: -moz-linear-gradient(135deg, #155A97, #4CBF8B);
  background: linear-gradient(135deg, #155A97, #4CBF8B);
  opacity: 0.9;
  position: relative;
  margin-top: 50px;
  height: auto; }
  .about-container::after {
    background-image: url("../img/wood-bg.jpg");
    background-position: center;
    background-size: cover; }
  .about-container .about-section {
    padding: 45px;
    width: 85vw;
    display: block;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .about-container .about-section .grower-pic {
      height: 250px;
      width: 250px;
      margin-left: 40px;
      background-image: url("../img/nolan.jpg");
      background-position: center;
      background-size: cover;
      border-radius: 50%; }
      @media (max-width: 540px) {
        .about-container .about-section .grower-pic {
          height: 220px;
          width: 220px;
          margin-top: -40px; } }
    .about-container .about-section .grower-details {
      flex-grow: 1;
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: center;
      font-family: 'Merriweather Sans', sans-serif;
      height: 250px;
      flex-basis: 50%;
      color: white; }
      .about-container .about-section .grower-details h5 {
        font-family: 'Merriweather', serif;
        font-size: 30px;
        font-weight: bolder; }
      .about-container .about-section .grower-details p {
        font-size: 16px; }
        @media (max-width: 580px) {
          .about-container .about-section .grower-details p {
            font-size: 14px; } }
        @media (max-width: 540px) {
          .about-container .about-section .grower-details p {
            font-size: 13px; } }

.link-container {
  height: 150px; }

footer {
  text-align: center;
  font-size: 11px;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #262626;
  height: 65px;
  color: white; }
  footer p {
    padding-top: 25px;
    margin: 0; }

header {
  height: 100vh;
  position: relative;
  background: -webkit-linear-gradient(top, rgba(76, 191, 139, 0.4) 0%, rgba(21, 90, 151, 0.4) 60%);
  background: -moz-linear-gradient(top, rgba(76, 191, 139, 0.4) 0%, rgba(21, 90, 151, 0.4) 60%);
  background: -o-linear-gradient(top, rgba(76, 191, 139, 0.4) 0%, rgba(21, 90, 151, 0.4) 60%);
  background: linear-gradient(top, rgba(76, 191, 139, 0.4) 0%, rgba(21, 90, 151, 0.4) 60%); }
  @media (max-width: 800px) {
    header {
      height: 75vh; } }
  header::after {
    background-image: url("../img/background-pic.png");
    background-position: center;
    background-size: cover; }
  header img {
    padding: 35px; }

.hero-text-parent {
  display: flex;
  flex-grow: 1;
  justify-content: center; }

.hero-text-hold {
  margin-top: 0;
  border: 2px solid white;
  border-radius: 2px;
  height: 50%;
  padding: 25px;
  margin-top: 25vh;
  width: 50vw; }
  @media (max-width: 800px) {
    .hero-text-hold {
      width: 60vw;
      margin-top: 20vh; } }
  @media (max-width: 600px) {
    .hero-text-hold {
      width: 80vw;
      margin-top: 15vh; } }
  @media (max-width: 350px) {
    .hero-text-hold {
      width: 90vw;
      margin-top: 20vh; } }
  .hero-text-hold .hero-text {
    text-align: center; }
  .hero-text-hold h1 {
    color: white;
    font-family: 'Yeseva One', cursive;
    font-size: 400%;
    letter-spacing: 4px;
    margin-top: 0; }
    @media (min-width: 1020px) {
      .hero-text-hold h1 {
        font-size: 570%; }
        .hero-text-hold h1:nth-of-type(1) {
          margin-top: 20px; } }
    @media (max-width: 350px) {
      .hero-text-hold h1 {
        font-size: 300%; } }
  .hero-text-hold img {
    width: 75%;
    max-width: 295px;
    height: auto;
    margin-top: -65px;
    margin-bottom: -45px; }
    @media (max-width: 350px) {
      .hero-text-hold img {
        margin-top: -50px; } }
  .hero-text-hold span {
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; }
    .hero-text-hold span .tagline-text {
      font-size: 100%; }
    @media (max-width: 820px) {
      .hero-text-hold span {
        margin-top: -15px; } }
    @media (max-width: 430px) {
      .hero-text-hold span {
        font-size: 100%; } }
  .hero-text-hold .tag-line {
    height: 2px;
    background: white;
    width: 3.3em;
    margin-left: 15px;
    margin-right: 15px; }

ul.main-links {
  display: flex;
  position: absolute;
  width: 100vw;
  left: 50%;
  transform: translate(-50%, 0);
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8); }
  @media (max-width: 600px) {
    ul.main-links {
      display: none; } }
  ul.main-links li {
    color: #4CBF8B;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 15px;
    padding: 5px;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: .3s;
    letter-spacing: 1.5px; }
    @media (max-width: 820px) {
      ul.main-links li {
        font-size: 14px;
        margin: 5px; } }
    ul.main-links li:after {
      position: absolute;
      transition: .3s;
      content: '';
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #4CBF8B; }
    ul.main-links li:hover {
      cursor: pointer;
      background: rgba(76, 191, 139, 0.1); }
      ul.main-links li:hover:after {
        width: 100%;
        left: 0; }

.button_container {
  position: fixed;
  top: 5%;
  right: 5%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease; }

.button_container:hover {
  opacity: .7; }

.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF; }

.button_container.active .middle {
  opacity: 0;
  background: #FFF; }

.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF; }

.button_container span {
  background: #1abc9c;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer; }

.button_container span:nth-of-type(2) {
  top: 11px; }

.button_container span:nth-of-type(3) {
  top: 22px; }

.overlay {
  position: fixed;
  background: #4CBF8B;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 99; }

.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%; }

.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s; }

.overlay.open li:nth-of-type(2) {
  animation-delay: .4s; }

.overlay.open li:nth-of-type(3) {
  animation-delay: .45s; }

.overlay.open li:nth-of-type(4) {
  animation-delay: .50s; }

.overlay.overlay-menu {
  position: relative;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  text-align: center; }

ul.dropdown-links {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100vh;
  left: 50%;
  transform: translate(-50%, 0); }

ul.dropdown-links li {
  display: block;
  text-align: center;
  height: calc(100% / 8);
  min-height: 50px;
  position: relative;
  opacity: 0; }
  ul.dropdown-links li:first-of-type {
    top: 50%; }

ul.dropdown-links li a {
  display: block;
  margin: auto;
  padding: 10px;
  border: 1px solid white;
  border-radius: 1px;
  position: relative;
  text-transform: uppercase;
  top: 30px;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;
  color: white; }
  ul.dropdown-links li a:hover {
    background: #4CBF8B;
    color: white; }

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%; }

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

/*# sourceMappingURL=app.css.map */
