
.icon-section {
  width: 85vw;
  display: block;
  margin: auto;
  .icon-container {
    display: flex;
    flex-wrap: wrap;
    .icon-column {
      // border: 1px solid $moderngreen;
      height: 250px;
      flex-grow:1;
      flex-basis: 33.33%;
      justify-content: center;
      text-align: center;
      padding: 20px;
      @media (max-width: 560px) {
        flex-wrap: wrap;
        flex-basis: 100%;
      }
      p {
        font-family: 'Merriweather', serif;
        color: $blackgreen;
        font-size: 1.3em;
      }
      img {
        width: 125px;
        height: auto;
        margin-top: 8%;
        padding: 10px;
      }
    }
  }
}


.mission-container {
  background: $blackgreen;
  .mission-section {
    display: block;
    margin: auto;
    width: 85vw;
    padding: 35px;
    // color: white;
    h5 {
      color: white;
      text-align: center;
      margin-bottom: 1.4em;
      font-family: 'Merriweather', serif;

    }
    .mission-columns {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: center;
      justify-content: space-around;

    }
    .mission-box {
      width: 40%;
      background: white;
      border-radius: 3px;
      padding: 25px;
      @media (max-width: 760px) {
        flex-wrap: wrap;
        flex-basis: 100%;
        margin-top: 20px;
      }
    }
  }
}

.strain-gallery {
  display: flex;
  flex-wrap: wrap;
  .strain {
    flex-grow: 1;
    height: 250px;
    position: relative;
    overflow: hidden;
    .strain-info {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 500px;
      padding: 10px;
      text-align: center;
      font-size: 16px;
      font-family: 'Merriweather Sans', sans-serif;
      color: white;
      -ms-transition: -ms-transform 0.75s;
      -webkit-transition: -webkit-transform 0.75s;
      transition: transform 0.75s;
      &:hover {
        -ms-transform: translateY(-260px);
        -webkit-transform: translateY(-260px);
        transform: translateY(-260px);
      }
    }
    .details-container {
      background-color: rgba(76, 191, 139, 0.7);
      height: 250px;
      width: 100%;
    }
    .details-title {
      font-size: 20px;
      margin-top: 250px;
    }
    .details-info {

    }
  }
  .strain:nth-of-type(1) {
    flex-basis: 50%;
    background-image: url("../img/blue_dream.jpg");
    background-position: center;
    background-size: cover;
    @media (max-width: 760px) {
      flex-basis: 100%;
    }
  }
  .strain:nth-of-type(2) {
    flex-basis: 25%;
    background-image: url("../img/cinex.jpg");
    background-position: center;
    background-size: cover;
    @media (max-width: 760px) {
      flex-basis: 50%;
    }
    @media (max-width: 520px) {
      flex-basis: 100%;
    }
  }
  .strain:nth-of-type(3) {
    flex-basis: 25%;
    background-image: url("../img/harley_tsu.jpg");
    background-position: center;
    background-size: cover;
    @media (max-width: 760px) {
      flex-basis: 50%;
    }
    @media (max-width: 520px) {
      flex-basis: 100%;
    }
  }
  .strain:nth-of-type(4) {
    flex-basis: 25%;
    background-image: url("../img/nuken.jpg");
    background-position: center;
    background-size: cover;
    @media (max-width: 760px) {
      flex-basis: 100%;
    }
  }
  .strain:nth-of-type(5) {
    flex-basis: 25%;
    background-image: url("../img/peaches.jpg");
    background-position: center;
    background-size: cover;
    @media (max-width: 760px) {
      flex-basis: 50%;
    }
    @media (max-width: 520px) {
      flex-basis: 100%;
    }
  }
  .strain:nth-of-type(6) {
    flex-basis: 50%;
    background-image: url("../img/tangie.jpg");
    background-position: center;
    background-size: cover;
    @media (max-width: 760px) {
      flex-basis: 50%;
    }
    @media (max-width: 520px) {
      flex-basis: 100%;
    }
  }
}
