.icon-container {
  display: flex;
  flex-wrap: wrap;
  .icon-column {
    border: 1px solid $moderngreen;
    height: 25%;
    flex-grow:1;
    flex-basis: 33.33%;
    justify-content: center;
    text-align: center;
    @media (max-width: 900px) {
      flex-wrap: wrap;
      flex-basis: 100%;
    }
    p {
      font-family: 'Merriweather', serif;
      color: $blackgreen;
      font-size: 1.3em;
    }
    img {
      width: 125px;
      height: auto;
      margin-top: 8%;
      padding: 10px;
    }
  }
}
