footer {
  text-align: center;
  font-size: 11px;
  font-family: 'Merriweather Sans', sans-serif;
  background: -webkit-linear-gradient(90deg, $darkblue, $seablue, $teal);
  background: -o-linear-gradient(90deg, $darkblue, $seablue, $teal);
  background: -moz-linear-gradient(90deg, $darkblue, $seablue, $teal);
  background: linear-gradient(90deg, $darkblue, $seablue, $teal);
  height: 65px;
  color: white;
  p {
    padding-top: 25px;
    margin: 0;
  }
}
