.hero-container {
  height: 100vh;
  position: relative;
  background-image: url("../img/background-pic.png");
  background-position: center;
  background-size: cover;
  img {
    padding: 20px;
  }
}

.hero-text-hold {
  position: absolute;
  top: 22%;
  width: 100%;
  .hero-text {
    text-align: center;
  }
  h1 {
    color: white;
    font-family: 'Yeseva One', cursive;
    font-size: 8em;
    display: block;
    margin: auto;
    letter-spacing: 4px;
  }
  img {
    width: 25em;
    height: auto;
    margin-top: -35px;
    margin-bottom: -35px;
  }
  span {
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
  }
  .tag-line {
    height: 4px;
    background: white;
    width: 20px;
  }
}
