.hero-container {
  height: 100vh;
  position: relative;
  // background: rgba(66, 69, 100, 0.3);
  background: -webkit-linear-gradient(top, rgba(76,191,139,.4) 0%, rgba(21,90,151,.4) 60%);
  background: -moz-linear-gradient(top, rgba(76,191,139,.4) 0%, rgba(21,90,151,.4) 60%);
  background: -o-linear-gradient(top, rgba(76,191,139,.4) 0%, rgba(21,90,151,.4) 60%);
  background: linear-gradient(top, rgba(76,191,139,.4) 0%, rgba(21,90,151,.4) 60%);
  @media (max-width: 800px) {
    height: 75vh;
  }

  &::after {
    @extend %after;
    background-image: url("../img/background-pic.png");
    background-position: center;
    background-size: cover;
  }
  img {
    padding: 35px;
  }
  img.leaf-icon {
    @media (max-width: 650px) {
      display: none;
    }
  }
}

// .link-container {
//   width: 65%;
// }

.hero-text-parent {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.hero-text-hold {
  margin-top: 0;
  border: 2px solid white;
  border-radius: 2px;
  width: auto;
  height: 50%;
  padding: 25px;
  margin-top: 25%;
  @media (min-width: 650px) {
    width: 45vw;
    height: 50%;
    margin-top: 2vh;
  }
  @media (max-width: 800px) {
    top: 20%;
  }
  @media (max-width: 350px) {
    width: 90vw;
    margin-top: 38%;
  }

  .hero-text {
    text-align: center;
  }

  h1 {
    color: white;
    font-family: 'Yeseva One', cursive;
    font-size: 400%;
    letter-spacing: 4px;
    margin-top: 0;
    @media (min-width: 1020px) {
      font-size: 570%;
      &:nth-of-type(1) {
        margin-top: 20px;
      }
    }
    @media (max-width: 350px) {
      font-size: 300%;
    }
  }
  img {
    width: 75%;
    max-width: 295px;
    height: auto;
    margin-top: -65px;
    margin-bottom: -45px;
    @media (max-width: 350px) {
      margin-top: -50px;
    }
  }
  span {
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    .tagline-text {
      font-size: 100%
    }
    @media (max-width: 820px) {
    margin-top: -15px;
    }
    @media (max-width: 430px) {
      font-size: 100%;
    }
  }
  .tag-line {
    height: 2px;
    background: white;
    width: 3.3em;
    margin-left: 15px;
    margin-right: 15px;
  }
}

ul.main-links {
  display: flex;
  position: absolute;
  top: 30px;
  right: 50px;
  @media (max-width: 600px) {
    display: none;
  }
  li {
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 15px;
    padding: 5px;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    overflow:hidden;
    transition: .3s;
    letter-spacing: 1.5px;
    @media (max-width: 820px) {
      font-size: 14px;
      margin: 5px;
    }
    &:after {
      position: absolute;
      transition: .3s;
      content: '';
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #f7f7f7;
    }
    &:hover {
      cursor: pointer;
      background: rgba(255,255,255,.1);
      &:after {
        width: 100%;
        left:0;
      }
    }
  }
}

.button_container {
position: fixed;
top: 5%;
right: 5%;
height: 27px;
width: 35px;
cursor: pointer;
z-index: 100;
transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #1abc9c;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: $moderngreen;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 99;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
.overlay.overlay-menu {
  position: relative;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}
ul.dropdown-links {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100vh;
  left: 50%;
  transform: translate(-50%, 0);
}
ul.dropdown-links li {
  display: block;
  text-align: center;
  height: calc(100% / 8);
  min-height: 50px;
  position: relative;
  opacity: 0;
  &:first-of-type {
    top: 50%;
  }
}
ul.dropdown-links li a {
  display: block;
  margin: auto;
  padding: 10px;
  border: 1px solid white;
  border-radius: 1px;
  position: relative;
  text-transform: uppercase;
  top: 30px;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;
  color: white;
  &:hover {
    background: $moderngreen;
    color: white;
  }
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
